.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.body-initial {
    background-color: rgba(255, 255, 255, 1);
    position: static;
}

.silex-id-1474394621033-3 {
    position: static;
    margin-top: -1px;
}

.silex-id-1474394621032-2 {
    background-color: transparent;
    min-height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.silex-id-1679495997019-1 {
    width: 343px;
    min-height: 118px;
    position: absolute;
    top: -0px;
    left: 50px;
}

.silex-id-1679575246134-4 {
    width: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 15px;
}

.silex-id-1679575604399-5 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 00px;
}

.silex-id-1679582906180-6 {
    width: 371px;
    min-height: 60.43333435058594px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.silex-id-1679582999587-7 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 490px;
    margin-right: 10px;
}

.silex-id-1679583048342-8 {
    width: 48px;
    height: 48px;
    position: absolute; 
    top: 10px;
    left: 440px;
}

.silex-id-1679583242732-9 {
    width: 271px;
    min-height: 51px;
    position: absolute;
    top: 140px;
    left: 100px;
}

.silex-id-1679583332427-10 {
    width: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 200px;
    left: 15px;
}

.silex-id-1679583332427-11 {
    width: 371px;
    min-height: 60.43333435058594px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.silex-id-1679583332427-12 {
    width: 271px;
    min-height: 51px;
    position: absolute;
    top: 240px;
    left: 100px;
}

.silex-id-1679993209914-16 {
    position: static;
    margin-top: -1px;
}

.silex-id-1679993209914-17 {
    background-color: transparent;
    min-height: 713px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.silex-id-1679993209914-18 {
    width: 343px;
    font-size: large;
    min-height: 118px;
    position: absolute;
    top: -15px;
    left: 50px;
}

.silex-id-1679993209914-18 h2{
    position: absolute;
    font-size: large;
    top: 40px;
}

.silex-id-1679993209914-19 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 00px;
}

.silex-id-1679993209914-20 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 440px;
}

.silex-id-1679993209915-21 {
    width: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 15px;
}

.silex-id-1679993209915-22 {
    width: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 200px;
    left: 15px;
}

.silex-id-1679993209915-23 {
    width: 371px;
    min-height: 60.43333435058594px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.silex-id-1679993209915-24 {
    width: 371px;
    min-height: 60.43333435058594px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.silex-id-1679993209915-25 {
    width: 271px;
    min-height: 51px;
    position: absolute;
    top: 240px;
    left: 100px;
}

.silex-id-1679993209915-26 {
    width: 271px;
    min-height: 51px;
    position: absolute;
    top: 140px;
    left: 100px;
}

.silex-id-1679993209915-27 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 490px;
    margin-right: 10px;
}

.silex-id-1679993233298-40 {
    width: 138px;
    min-height: 68px;
    position: absolute;
    top: 70px;
    left: 15px;
}

.silex-id-1679993945167-41 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 85px;
    left: 370px;
}

.silex-id-1679993956549-42 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 85px;
    left: 415px;
}

.silex-id-1679993963785-43 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 85px;
    left: 490px;
}

.silex-id-1679994428800-45 {
    width: 500px;
    min-height: 203px;
    position: absolute;
    top: 140px;
    left: 15px;
    background-color: rgba(154, 153, 150, 0.14901960784313725);
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgba(119, 118, 123, 1);
    margin-right: 15px;
}

.silex-id-1679995708280-46 {
    position: static;
    margin-top: -1px;
}

.silex-id-1679995708280-47 {
    background-color: transparent;
    min-height: 1067px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.silex-id-1679995708280-48 {
    width: 343px;
    min-height: 118px;
    position: absolute;
    top: -0px;
    left: 50px;
}

.silex-id-1679995708280-49 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 00px;
}

.silex-id-1679995708280-50 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 440px;
}

.silex-id-1679995708280-57 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 490px;
    margin-right: 10px;
}

.silex-id-1679995708280-58 {
    width: 299px;
    min-height: 68px;
    position: absolute;
    top: 450px;
    left: 15px;
}

.silex-id-1679995769290-80 {
    width: 200px;
    min-height: 0px;
    position: absolute;
    top: 80px;
    left: 15px;
}

.silex-id-1679995859231-81 {
    width: 500px;
    min-height: 100px;
    position: absolute;
    top: 110px;
    left: 15px;
    margin-right: 15px;
}

.silex-id-1679998361980-82 {
    width: 200px;
    min-height: 0px;
    position: absolute;
    top: 310px;
    left: 15px;
}

.silex-id-1679998361980-83 {
    width: 500px;
    min-height: 203px;
    position: absolute;
    top: 340px;
    left: 15px;
    margin-right: 15px;
}

.silex-id-1679998465001-84 {
    width: 300px;
    min-height: 60px;
    position: absolute;
    top: 500px;
    left: 15px;
}

.silex-id-1679998465001-85 {
    width: 500px;
    min-height: 203px;
    position: absolute;
    top: 530px;
    left: 15px;
    margin-right: 15px;
}

.silex-id-1679998625065-86 {
    width: 300px;
    min-height: 60px;
    position: absolute;
    top: 620px;
    left: 15px;
}

.silex-id-1679998625065-87 {
    width: 500px;
    min-height: 203px;
    position: absolute;
    top: 650px;
    left: 15px;
    margin-right: 15px;
}

.silex-id-1679998772473-88 {
    position: static;
    margin-top: -1px;
}

.silex-id-1679998772473-89 {
    background-color: transparent;
    min-height: 386px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.silex-id-1679998772473-90 {
    width: 343px;
    min-height: 118px;
    position: absolute;
    top: -0px;
    left: 50px;
}

.silex-id-1679998772473-91 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 00px;
}

.silex-id-1679998772473-92 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 440px;
}

.silex-id-1679998772473-95 {
    width: 371px;
    min-height: 60px;
    position: absolute;
    top: 80px;
    left: 15px;
}

.silex-id-1679998772473-97 {
    width: 500px;
    min-height: 51px;
    position: absolute;
    top: 186px;
    left: 15px;
}

.silex-id-1679998772473-98 {
    width: 300px;
    min-height: 51px;
    position: absolute;
    top: 135px;
    left: 15px;
}

.silex-id-1679998772473-99 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 490px;
    margin-right: 10px;
}

.silex-id-1679998832370-124 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 130px;
}

.silex-id-1679998999094-125 {
    width: 500px;
    min-height: 100px;
    position: absolute;
    top: 256px;
    left: 15px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(154, 153, 150, 0.14901960784313725);
}

.silex-id-1679999184510-126 {
    position: static;
    margin-top: -1px;
}

.silex-id-1679999184510-127 {
    background-color: transparent;
    min-height: 208px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.silex-id-1679999184510-128 {
    width: 343px;
    min-height: 118px;
    position: absolute;
    top: -0px;
    left: 50px;
}

.silex-id-1679999184510-129 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 00px;
}

.silex-id-1679999184510-130 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 440px;
}

.silex-id-1679999184510-131 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 10px;
    left: 490px;
    margin-right: 10px;
}

.silex-id-1679999184510-132 {
    width: 371px;
    min-height: 60px;
    position: absolute;
    top: 80px;
    left: 15px;
}

.silex-id-1679999184510-134 {
    width: 300px;
    min-height: 51px;
    position: absolute;
    top: 135px;
    left: 15px;
}

.silex-id-1679999239451-148 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 130px;
}

@media only screen and (max-width: 480px) {}

.text-element>.silex-element-content {
    font-family: 'Roboto', sans-serif;
}

.website-width {
    width: 550px;
}

@media (min-width: 481px) {
    .silex-editor {
        min-width: 750px;
    }
}

body.silex-runtime {
    opacity: 1;
}