# Tested runtime: Python 3.10
django==4.2.*  # Django LTS version (v4.2 as of 202402)
djangorestframework  # might also need django-filter
django-cors-headers
gunicorn  # to serve the app
uvicorn  # for asgi support

ipython
scikit_learn
somajo # a better splitter than NLTK/Spacy
openai
tiktoken  # OpenAI's fast tokenizer
torch  # stable release with CUDA (v1.13 as of 202302)
transformers
sentencepiece  # needed for some HF models
sentence_transformers  # for sentence embeddings (installs nltk too)

mysqlclient  # needs `libmysqlclient-dev` on Ubuntu
pylibmc  # needs libmemcached-tools on Ubuntu
