VLLM_API_KEY==*YOUR-KEY*
TOGETHER_API_KEY==*YOUR-KEY*
RUNPOD_API_KEY==*YOUR-KEY*

SECRET_KEY=*CREATE USING `secrets.token_hex(24))` OR ANOTHER METHOD*
DATABASE_URL=*postgres://SERVERDETAILS OR sqlite:////tmp/simbadb.sqlite3*

# For GAE: GS_BUCKET_NAME=...
# For local: DJANGO_DEBUG=True








